.about-page-container {
  overflow-y: auto;

  .about-top-container {
    background: linear-gradient(90deg, #e5794c 0%, #e54c79 100%);
    padding: 93px 0 100px 0;
    color: white !important;
  }

  .meet-team-section {
    margin: 5rem 0;

    ul {
      place-items: center;
    }

    img {
      max-width: 250px;
      max-height: 250px;
      border-radius: 50%;
      border: 2px solid var(--black);
    }

    .card {
      width: 300px;
    }
  }
}
