.home-page-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  .hotspot-button {
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    cursor: pointer;
  }

  .home-page-carousel-container {
    padding-top: 40px;
    padding-bottom: 40px;

    .swiper {
      width: 100%;

      img {
        max-width: 1400px;
        border-radius: 60px;
        max-height: 650px;
      }
    }
  }

  .home-page-wrapper {
    width: 100%;

    .text-container {
      max-width: 798px;
      margin: auto;
      margin-top: 62px;

      p {
        color: #212121;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 37px;
        max-width: 604px;
      }

      span {
        margin-top: 35px;
        color: #757575;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 30px;
      }
    }

    .card-section {
      margin-top: 100px;
      width: 100%;

      &.our-services-section {
        .our-services-section-bg {
          max-width: 1160px;
        }

        .swiper {
          padding-bottom: 80px;
        }

        .navigation {
          right: 40px;
        }

        .card {
          border: 1px solid #eeeeee;
          border-radius: 24px;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.14);

          .service-img {
            border-radius: 18px;
          }

          .card-footer {
            padding: 0 27px 26px 27px;
          }
        }
      }
    }
  }
}

.swiper-pagination {
  width: max-content;

  .swiper-pagination-bullet {
    background-color: var(--grey);
    width: 5px;
    height: 5px;
    transition: all 0.3s;

    &.swiper-pagination-bullet-active {
      width: 30px;
      background-color: black;
      border-radius: 10px;
    }
  }
}

section.our-stories {

  .card-prev-btn,
  .card-next-btn {
    color: white;
  }

  .stories-wrapper {
    .story-img {
      height: 400px;
    }
    .w-100 {
      width: calc(100% + 2px) !important;
    }

    .swiper-pagination {
      width: max-content;
      margin-left: 50%;
      .swiper-pagination-bullet {
        background: rgba(0, 0, 0);

        &.swiper-pagination-bullet-active {
          background-color: white;
        }
      }
    }
  }

  .container div {
    gap: 20px;

    span {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}

section.testimonial {
  h2 {
    margin-bottom: 80px;
  }

  .testimonials-wrapper {
    gap: 80px;
  }

  .swiper-slide {
    padding-bottom: 60px;
    min-height: 100%;
    height: auto;

    .card {
      border-radius: 20px;

      .quote {
        transform: rotate(180deg);
        right: 10px;
      }
    }
  }
  .line {
    background-color: var(--grey-light);
    height: 2px;
    width: 80%;
    margin-top: 30px;
  }

  .adjusted-margin {
    margin-top: -1rem;
  }
}

section.gst-details-section {
  padding: 80px 40px;

  h2,
  .map-hotspots {
    margin-bottom: 40px;

    @media screen and (min-width: 992px) {
      margin-bottom: 80px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 40px 0 !important;
  }

  .map-hotspots {
    min-width: 620px;
    max-width: 620px;
    height: 720px;

    img {
      background-size: contain;
      background-repeat: no-repeat;
    }

    .state {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--primary-color);
      border: 5px solid var(--primary-yellow);
      transition: all 0.3s;
      outline: 2px solid white;
      box-sizing: content-box;

      &:hover {
        // box-shadow: 0 0 0 10px rgb(50, 41, 11), 0 0 0 11px var(--primary-yellow);
        outline: 6px solid white;

      }

      &.selected {
        border-width: 4px;
      }

      &.Goa {
        left: 128px;
        top: 540px;
      }

      &.Uttar.Pradesh {
        left: 270px;
        top: 280px;
      }

      &.Haryana {
        left: 188px;
        top: 230px;
      }

      &.Karnataka {
        left: 170px;
        top: 560px;
      }

      &.Maharashtra {
        left: 170px;
        top: 450px;
      }

      &.Telangana {
        left: 244px;
    top: 482px;
      }

      &.Bihar {
        left: 380px;
        top: 305px;
      }

      &.Gujarat {
        left: 80px;
        top: 370px;
      }

      &.Kerala {
        left: 180px;
        top: 644px;
      }

      &.Himachal.Pradesh {
        left: 205px;
        top: 165px;
    
      }

      &.Tamil.Nadu {
        left: 229px;
        top: 634px;
      }

      &.Jharkhand {
        left: 364px;
        top: 353px;
      }

      &.Rajasthan {
        left: 130px;
        top: 285px;
      }

      &.Madhya.Pradesh {
        left: 230px;
        top: 365px;
      }

      &.Odisha {
        left: 360px;
        top: 420px;
      }

      &.Chandigarh {
        left: 183px;
        top: 200px;
      }
    }
  }

  .accordion-item {
    border-radius: 30px;
    border: 1px solid transparent;

    &:has(.accordion-collapse.show) {
      border: 1px solid var(--grey);

      .accordion-button,
      .accordion-header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .accordion-header,
    .accordion-button {
      border-radius: 30px;
      background: var(--primary-yellow);
    }
  }

  .state-data-container {
    background: var(--primary-yellow);
    width: 384px;
    height: max-content;
    padding: 40px 30px;
    border-radius: 30px;
  }
}

section.home-page-content-section {
  padding: 60px 80px;

  @media screen and (max-width: 768px) {
    padding: 30px 15px;
  }

  .font-medium {
    font-size: 1.5rem;
  }

  .font-bold {
    font-size: 2.25rem;
  }
}

section.brand-carousel {
  white-space: nowrap;

  padding: 40px 0 80px 0;

  .carousel-track {
    gap: 40px;
    animation: scroll 15s linear infinite;
    width: fit-content;
  }

  .brand-logo {
    height: 70px;
    width: auto;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
