.pagination {
    .page-input {
        width: 30px;
        background-color: white;
        border: 1px solid #ccc;
        text-align: center;
    }

    .right-arrow {
        transform: rotate(180deg);
    }
}