.header-container {
  border-bottom: 1px solid var(--grey);

  nav {
    padding: 8px;

    @media screen and (min-width: 992px) {
      padding: 10px 40px;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .header-logo {
    img {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .navbar-toggler {
    display: none;
  }

  a {
    text-decoration: none !important;
    color: #000 !important;
    position: relative;
  }
}

.mobile-drawer {
  background-color: white;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  z-index: 1001;
  height: calc(100% - 71px);

  &.show {
    transform: translateX(0);
  }

  li {
    padding: 10px 0 !important;
  }

  span {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .header-container {
    .header-li {
      &:hover {
        span {
          color: var(--bs-orange);
        }
        &::after {
          width: calc(100% - 2.5rem);
        }
      }

      &::after {
        content: "";
        width: 0;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        border-bottom: 2px solid var(--bs-orange);
        top: calc(100% + 5px);
        z-index: 1001;
        transition: all 0.3s;
      }
    }
  }
}

@media (max-width: 992px) {
  .header-desktop-navbar {
    display: none !important;
  }

  .header-mobile-navbar {
    display: flex !important;
  }
  .header-container {
    .header-right-container {
      position: fixed;
      top: 0%;
      z-index: 100;
      background: white;
      right: -15px;
      width: 300px;
      height: 100%;
      transform: translateX(100%);
      transition: 0.3s;
      z-index: 101;

      &.show {
        .mobile-view-close-btn-wrapper {
          padding: 0 15px;
          border-bottom: 1px solid rgba(220, 220, 220, 0.5);
          display: flex !important;
          justify-content: right;
        }
      }

      .hd-content-wrapper {
        display: flex;
        align-items: center;

        span {
          margin-left: 20px;
        }
      }

      &.show {
        transform: translateX(0);
      }
    }

    .pay-btn {
      font-size: 20px;
      width: 100%;
      margin-top: 30px;
    }

    .navbar-toggler {
      display: block !important;
      height: 45px;
      margin: 5px 0;
      border: none !important;
    }
  }
}

@media only screen and (max-width: 576px) {
  .header-container {
    .header-left-container {
      .select-city-btn {
        .select-city-dropdown-btn {
          margin-left: 20px;
          max-width: 200px;
        }
        .address-dropdown {
          width: 90vw;
          left: 0;
          right: 0;
          margin: 0 auto;
          position: fixed;
          top: 55px;
          transform: scale(1);
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .header-container {
    .header-left-container {
      .select-city-btn {
        .select-city-dropdown-btn {
          max-width: 100px;
        }

        .address-dropdown {
          width: 100vw;
          height: 100%;
          left: 0;
          right: 0;
          // margin: over0 auto;
          overflow-y: auto;
          position: fixed;
          top: 0;
          transform: scale(1);
        }
      }
    }
  }
}
