// .checkbox-container {
//   display: flex;
//   width: max-content;

//   .checkbox-label {
//     margin-left: 10px;
//   }

//   .container {
//     display: inline;
//     position: relative;
//     cursor: pointer;
//     font-size: 22px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//   }

//   /* Hide the browser's default checkbox */
//   input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//     height: 0;
//     width: 0;
//   }

//   /* Create a custom checkbox */
//   .checkmark {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 18px;
//     width: 18px;
//     background-color: white;
//     border: 1px solid #757575;
//     border-radius: 4px;
//   }

//   /* On mouse-over, add a grey background color */
//   .container:hover input ~ .checkmark {
//     background-color: #ccc;
//   }

//   /* When the checkbox is checked, add a blue background */
//   .container input:checked ~ .checkmark {
//     background-color: #e5794c;
//   }

//   /* Create the checkmark/indicator (hidden when not checked) */
//   .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
//   }

//   /* Show the checkmark when checked */
//   .container input:checked ~ .checkmark:after {
//     display: block;
//   }

//   /* Style the checkmark/indicator */
//   .checkmark:after {
//     left: 6px;
//     top: 3px;
//     width: 7px;
//     height: 15px;
//     border: solid white;
//     border-width: 0 3px 3px 0;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
// }

.checkbox-container .checkbox-label {
  margin-left: 14px;
  font-size: 14px;
}

.checkbox-container input[type="checkbox"]:checked {
  background: #ff6e30
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  border-color: #ff6e30;
}

.checkbox-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: top;
  background-color: var(--bs-body-bg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  background-size: contain;
  border: 1px solid grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
