@import "./bootstrap.scss";

@font-face {
  font-family: "SF  Pro";
  src: url("./assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF  Pro";
  src: url("./assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF  Pro";
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --bs-orange: #d35833;
  --bs-orange-dark: #b84c2b;
  --grey: #caccce;
  --grey-light: #e5e5e5;
  --bg-color: #f8f8f8;
  --primary-blue: #0c66e1;
}

body {
  font-family: "SF  Pro";
  font-size: 16px;
  color: #000 !important;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  .container {
    padding: 0 15px;
  }
}

.app {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.section-padding {
  padding: 80px 0;
}

button,
input {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    touch-action: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px white, 0 0 0 4px#f17c29 !important;
  }
}

input {
  &:focus {
    box-shadow: none;
    border: none;
    outline: none;
  }
}

ul {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 65px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

select {
  border: none;
  outline: none;
}

.full-page {
  width: 100%;
  height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.loader {
  border: 5px solid #9b9b9b;
  border-top: 5px solid var(--bs-orange);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.btn-orange-loader {
  border: 2px solid #9b9b9b;
  border-top: 2px solid #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.w-max {
  width: max-content;
}

.border-eee {
  border: 1px solid #eeeeee;
}

.bg-eee {
  background-color: #eeeeee;
}

.bg-light-grey {
  background-color: #fafafa;
}

.text-grey {
  color: #757575 !important;
}

.text-grey-black {
  color: #212121 !important;
}

.text-orange {
  color: var(--bs-orange) !important;
}

.text-orange-hover {
  &:hover {
    color: var(--bs-orange) !important;
  }
}

.text-disabled {
  -webkit-user-select: none; /* Safari and older versions of Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.orange-tb-active-btn {
  // tb - text-border
  border-color: var(--bs-orange) !important;
  color: var(--bs-orange) !important;
}

.btn-orange {
  border-radius: 4px;
  background-color: var(--bs-orange);
  color: #fff;
  padding: 12px 32px;
  border: 1px solid var(--bs-orange);
  transition: background 0.4s;

  &:hover {
    background-color: #fff;
    color: var(--bs-orange);
  }
}

.btn-orange-inverse {
  border-radius: 4px;
  background-color: #fff;
  color: var(--bs-orange);
  padding: 12px 32px;
  border: 1px solid var(--bs-orange);
  transition: background 0.4s;

  &:hover {
    background-color: var(--bs-orange);
    color: #fff;
  }
}

.text-btn-orange {
  color: var(--bs-orange);
}

.bg {
  background: var(--bg-color);
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.show {
  display: block !important;
}

.font-bolder {
  font-weight: 800 !important;
}

.font-bold {
  font-weight: 600 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-12 {
  font-size: 0.75rem !important;
}

.font-14 {
  font-size: 0.875rem !important;
}

.font-20 {
  font-size: 1.25rem !important;
}

.line-height-0 {
  line-height: 0 !important;
}

.line-height-18 {
  line-height: 18px !important;
}

.line-height-22 {
  line-height: 22px !important;
}

.label-grey {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
}

.label-black {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  color: #212121;
}

.z-101 {
  z-index: 101;
}

.snack-bar-wrapper {
  position: fixed;
  bottom: 20px;
  right: 40px;
  background: var(--bs-orange);
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  transition: all 0.3s;
  transform: translateX(100%);

  &.snack-bar-visible {
    transform: translateX(0%);
    visibility: visible;
  }

  .snackbar-cross {
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;

    &.snackbar-cross-1 {
      transform: rotate(45deg);
    }

    &.snackbar-cross-2 {
      transform: rotate(135deg);
    }
  }
}

@media (max-width: 576px) {
  .d-xs-flex {
    display: flex;
  }

  .m-xs-auto {
    margin: auto;
  }

  .w-xs-100 {
    width: 100%;
  }
}
